{% extends 'frontlist/base.html' %}

{% block title%}
Edit To-Do-List
{% endblock%}

{% block content %}

    <div class="container">
    </br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissile fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" class="row">
        {% csrf_token %}
        <label class="col-lg-4"></label>

        
        <input type="text" class="form-control col-lg-6"  name="task" placeholder={{task_obj.task}} value="{{task_obj.task}}">
        <input type="hidden"  name="done" value="{{task_obj.done}}">

        

        <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
    </form>
        <table class="table table-bordered mt-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
        
            <tbody>
            {% for obj in task %}   
                {% if obj.done %}
                    <tr class="table-success">
                        <th scope="row">{{ obj.task }}</th>
                        <td>Completed</td>
                        <td>Edit</td>
                        <td><a href="{% url 'todo_app:delete_task' obj.id %}"><button type="button" class="btn btn-primary"> Delete</button></a></td>
                    </tr>
                {% else %}
                <tr class="table-danger">
                    <th scope="row">{{ obj.task }}</th>
                    <td>Not Completed</td>
                    <td>Edit</td>
                    <td><a href="{% url 'todo_app:delete_task' obj.id %}"><button type="button" class="btn btn-primary"> Delete</button></a></td>
                    
                </tr>
                {%endif %}
            {% endfor %}
            </tbody>

                    
                
        </table>
    </div>

{% endblock%}